@mobile: ~"only screen and (max-width: 481px)";
//@mobile-landscape: ~"only screen and (max-width: 768px) and (orientation: landscape)";
@tablet: ~"only screen and (min-width: 482px) and (max-width: 961px)";
@desktop: ~"only screen and (min-width: 962px) and (max-width: 1025px)";
@hdscreen: ~"only screen and (min-width: 1026px)";

@left-block-color: #67BCDB;

* {
	margin: 0;
	padding: 0;
	font-family: Tahoma, Arial, Helvetica, Verdana, sans-serif;

}

html,
body {
	height: 100%;

	.wrapper {
		display: table;
		width: 100%;
		height: 100%;
		margin: 0 auto;

		.content {
			height: 100%;

			.row-content {
				height: inherit;

				.left-block {
					height: inherit;
					background: @left-block-color;
					padding: 0 100px;

					.left-menu {
						border: none;
						font-size: 15px;
						font-weight: 500;
						border-bottom: 1px solid white;

						.active {
							background-color: transparent;
							a {
								background-color: transparent;
							}
						}

						li {
							background-color: transparent;

							a{
								color: white;
								border: none;

								&:hover, &:active, &:focus {
									border: none;
									background-color: transparent;
								}
							}
						}
					}
				}
			}
		}
	}
}